# Practice for Pandas Dataframes & Series

1. Load the file `WorldCupMatches.csv` as a DataFrame in pandas.

In [ ]:
# Import pandas using the standard alias


# Load 'WorldCupMatches.csv' as a DataFrame

2. Use the correct method to display the first 7 rows of the dataset.

# Display the first 7 rows of df

3. Display the last 3 rows of the dataset.

In [ ]:
# Display the last 3 rows of df

4. Get a concise summary of the data using `.info()`.

In [ ]:
# Print a concise summary of df

5. Obtain a tuple representing the number of rows and number of columns.

In [ ]:
# Display the number of rows and columns in df

6. Use the appropriate attribute to get the column names.

In [ ]:
# Display the column names of df

7. When looking at the DataFrame's `.head()` and `.tail()`, you might have noticed that the games are structured chronologically in the DataFrame.
Use the right selection method to display all the information from the 3rd to the 5th game (i.e. select rows 3 through 5 inclusive).

In [ ]:
# Your code here

8. Now, display the info from games labeled 5-9 in the index (inclusive), but only the "Home Team Name" and the "Away Team Name" columns.

In [ ]:
# Your code here

9. Next, we'd like the information on all the games played in Group 3 for the 1950 World Cup.
Hint: You can combine conditions like this:
- df[(condition1) | (condition2)] -> Returns rows where either condition is true
- df[(condition1) & (condition2)] -> Returns rows where both conditions are true

In [ ]:
# Display all info for games played in 1950 for Group 3

10. Let's repeat the command above, but this time display only the attendance column for the Group 3 games.

In [ ]:
# Your code here

11. Throughout the entire history of the World Cup as recorded in this dataset, how many home games were played by the Netherlands?
(Remember that you can use the `len()` built-in function to find the number of rows in a DataFrame.)

In [ ]:
# Your code here

12. How many games were played by the Netherlands in total?

In [ ]:
# Your code here

13. Next, let's try and figure out how many games the USA played in the 2014 World Cup.

In [ ]:
# Your code here

14. The Match ID is a unique match identifer for international games:
- set this to the index and inspect the head to verify changes.

In [ ]:
# Your code here

15. Select data from Home Team Name to Half-time Away Goals for Match ID 1085. Use slicing here:

In [ ]:
 # Your code here

16. Reset the index back to integer index and move the `MatchID` back to a column in the DataFrame.

In [ ]:
 # Your code here

17. For your analysis, you realized that you don't need information on Referee Assistants and Win Conditions. Remove these columns and modify the original dataframe in-place. Print the column list to verify that these changes have taken place.

In [ ]:
 # Your code here

18. Check the data type of the DateTime column using the appropriate Series method.

In [ ]:
 # Your code here

19. The dtype 'O' is the object data type. Here it is indicating that we have a column of strings. Now, convert this column to a datetime data type and make sure the changes are administered to the original dataframe df:
- the string formatting for datetimes in this column are not all exactly the same (i.e. they are mixed)
use the 'mixed' option for the format keyword argument in the pandas conversion function.

In [ ]:
 # Your code here

20. In World Cup history, how many matches had 5 goals or more in total? First, create a new column "Total Goals".

In [ ]:
 # Your code here

21. Filter the dataset based on the "Total Goals" column and save it to a new dataframe `high_score_df`. Then get the number of matches satisfying the above condition.

In [ ]:
# Your code here

22. In the dataframe df, create a new column "High_Total_Score" that has value 0 if the total number of goals in a match was less than 5 and 1 if the there were 5 or more goals scored in total.

In [ ]:
# Your code here

23. Now create a new column "Half-time Goals" in df that includes both home and away values.

In [ ]:
# Your code here

24. Select all records that contain matches where North-Korea (Korea DPR) and South-Korea (Korea Republic) were involved.

In [ ]:
# Your code here

25. Calculate the average number of goals South Korea (Korea Republic) scored when it was the Home Team. Save this to a variable mean_home_SK.

In [ ]:
# Your code here

26. Also estimate the average spread on this by calculating the standard deviation. Save the standard deviation to a variable std_home_SK.

In [ ]:
# Your code here

27. What is the maximum number of goals that North Korea has scored when it has been away?

In [ ]:
# Your code here

28. Get the average attendance, home team goals, away team goals, and total goals scored over all home games for South Korea:

In [ ]:
# Your code here

29. Does South Korea's scoring indicate that it benefits strongly from home advantage?

Your answer here.

30. Get a list of the unique teams that South Korea has played when it has been on the road.

In [ ]:
# Your code here

31. Create a Series with the teams that South Korea has played against and the number of matches against each team in the dataset -- when South Korea has been away. Save this in a variable 'away_match_teamcount'.

In [ ]:
# Your code here